/ui/__pycache__
/core/__pycache__
/utils/__pycache__
/config/__pycache__
/__pycache__
/__pycache__
/__pycache__
/__pycache__
/cache
/cache
/cache
/ui/features/__pycache__
ui/features/__pycache__/document_uploader_window.cpython-312.pyc
ui/features/__pycache__/template_generator_window.cpython-312.pyc
ui/features/__pycache__/template_generator_window.cpython-312.pyc
/ui/features/__pycache__
